<footer>
  <nav>
    <a href="/" id="home-page" type="button" class="material-symbols-outlined nav-btn">
      home
    </a>
    <a href="/settings" id="settings-page" type="button" class="material-symbols-outlined nav-btn">
      settings
    </a>
  </nav>
</footer>